<div style="background-color: rgb(22, 145, 161); margin-left: 25%; margin-right: 25%; margin-top: 7%; padding-left: 5%; padding-bottom: 3%; padding-right: 10%; padding-top: 2%;">
    <div>

        <h1>MICROSOFT FORM</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, facere. Vel, perspiciatis quisquam est tempore consectetur corporis qui esse assumenda?</p>
    
    </div>
</div>

<br>
<p style="margin-left: 25%;"> {{title}}</p>
<br>
<form style="margin:  0 0 0 25%;"> 
    <p>1. Your Name* </p>
    <input style="width: 65%; height: 30px; margin-left: 1.5%;" type="text" name="user" placeholder="Enter user name" />
    <br><br><br>
    <p>2. Your Email Address </p>
    <input style="width: 65%; height: 30px; margin-left: 1.5%;" type="text" name="email" placeholder="Enter email id" />
    <br><br><br>
    <p>3. Your Password* </p>
    <input style="width: 65%; height: 30px; margin-left: 1.5%;" type="text" name="password" placeholder="Enter password" />
    <br><br><br>
    <button style="background: rgb(22, 145, 161); height: 30px; width: 100px; ">
        SUBMIT
    </button>
</form>



